.fondo-footer{
    background: darkblue;
    padding: 20px 0px;
}
.footer{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer{
    width: 280px;
    margin-bottom: 10px;
    color: white;
}
.footer h3{
    color: turquoise;
    text-align: center;
    margin-bottom: 10px;
}
.auspiciadores li{
    font-size: 18px;
    line-height: 30px;
}
.social{
    text-align: center;
}
.ico{
    font-size: 18px;
    background: turquoise;
    padding: 10px;
    color: white;
}
.social{
    margin-top: 30px;
}
.fondo-pies{
    background: black;
    padding: 20px 0px;
}
.pies{
    width: 80%;
    margin: auto;
    display: flex;
    text-wrap: wrap;
    justify-content: space-between;
}
.pie{
    text-align: center;
    color: white;
}